[defaults]
timeout=60
forks=3
host_key_checking = True
deprecation_warnings = False
command_warnings = False
cache_connection = /tmp/ansible-inventory-cache
cache_timeout = 999
retry_files_enabled = yes
retry_files_save_path = retry_files

interpreter_python=auto_silent
display_skipped_hosts = false

[priviledge_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False
