[defaults]
timeout=120
forks=3
host_key_checking = True
deprecation_warnings = False
command_warnings = False
cache_connection = /tmp/ansible-inventory-cache
cache_timeout = 999
retry_files_enabled = True
retry_files_save_path = /tmp/retry_files
inventory = hosts.ini
interpreter_python=auto_silent
display_skipped_hosts = False
stdout_callback = yaml

[priviledge_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False
