SERVER_NAME={{ valheim_server_name }}
WORLD_NAME={{ valheim_world_name }}
SERVER_PASS={{ vault_valheim_server_password }}
SERVER_PUBLIC={{ valheim_server_public | string | lower }}
SERVER_PORT={{ valheim_port }}
CROSSPLAY={{ valheim_crossplay | string | lower }}

{% if valheim_admin_ids | default([]) | length > 0 %}
ADMINLIST_IDS={{ valheim_admin_ids | join(' ') }}
{% endif %}
